* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

.header {
    background: darkslategray;
    padding: 15px;
    text-align:center;
    font-size: 18px;
    font-family: sans-serif;
    color: white;  
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    outline: 1px solid grey  
}

.content {
    outline: 1px solid grey;
    width: 100%;
    height: 100%;
}

#sessionSetup {
    outline: 1px solid slategray;
    width: 100%;
    height: 100%;
}
#difficultySelector{
    width: 100%;
    height:10%;
    background: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.difButton{
    background: gray;
    border-radius: 12px;
    color: white;
    font-size: xx-large;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}   
#sessionSlider{
    width: 98%;
    height: 15%;
    background: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#sliderTitle{
    font-size: xx-large;
    color: navy;
    background: solid;
}

#sessionSetup {
    background: darkgray;

}

#quantityDisplay {
    background: solid darkslategray;
    color: navy;
    font-size: xx-large;
    font-weight: bold;
}
#quantity{
    width: 60%;
    margin: 5px;
    flex-grow: 1;
}
#operatorSelector {
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
    background: darkslategray;
    border-radius: 25px;

}
.opButton {
    background: #999;
    padding: 15px;
    margin: 15px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    font-size: xx-large;
}
#startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background: darkgrey;
}
#start{
    background-color: cornflowerblue;
    width: 80%;
    padding: 5px;
    border-radius: 12px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

#optionsModal{
    background: solid whitesmoke;
    border-radius: 25px;
    color: darkslateblue;
    font-size: large;
}

#optionsButton{
    height: 10%;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#options{
    background: silver;
    width: 50%;
    border-radius: 12px;
    color: darkslategray;
    font-size: xx-large;
    text-transform: uppercase;

}

.active {
    height: 100%;
    width: 100%
}

.inactive {
    display: none;
}

.btnSelected {
    background-color: mediumseagreen;
    box-shadow: 5px 10px seagreen;
}

.btnUnselected {
    background-color: slategray;
    box-shadow: 2.5px 5px darkslategray;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modalContent {
    background-color: silver;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 25px;

  }

#optionsTitle{
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

.optionsIndex{
    font-size: large;
    font-weight: bold;
}

#optionsSave{
    font-size: xx-large;
    color: white;
    background: darkslategray;
    padding: 5px;
    border-radius: 15px;
}

#optionsContentWrapper{
    padding: 5px;
    margin: 2px;
}
  .modalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .modalClose:hover,
.modalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.answerModal {
    background-color: silver;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid darkgray;
    width: 50%; 
    font-size: xx-large;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
}

#flashcard {
    color: navy;
    background-color: gold;
    border: solid 10px navy;
    font-size: xx-large;
    height: 150px;
    width: 80%;
    font-weight: bold;
    margin: 10%;
    border-radius: 15px;
}

.cardArgument {
  text-align: center;  
}

#operator {
    text-align: left;
    padding: 5px;
    margin-left: 10%;
}
#statusBar{
    width: 100%;
    height:10%;
    background: silver;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.statusItem{
    background:dimgray;
    font-size: xx-large;
    color: white;
    border-radius: 15px;
    padding: 5px;
}
#outputBlock{
    width: 100%;
    height: 60%;
    background: gray;
    display: flex;
    justify-content: center;
}
#answerField{
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background: silver;
}

#answer{
    font-size: xx-large;
    border: 1px solid black;
    padding: 5px;
    margin: 1%;
}

#submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background: silver;
}
#submit{
    background-color: cornflowerblue;
    width: 80%;
    padding: 5px;
    border-radius: 12px;
    color:rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bold;
}

#quitButton{
    height: 10%;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quit{
    background: silver;
    width: 50%;
    border-radius: 12px;
    color: darkslategray;
    font-size: xx-large;
    text-transform: uppercase;
}

.numInput {
    border: 1px solid black;
   
}

#results {
    font-size: xx-large;
    color: green;
    width: 100%;
    text-align: center;
}